# ===== Build files =====
*.exe
*.out
*.o
*.obj

# ===== Debug / log =====
*.log

# ===== IDE / Editor =====
.vscode/
.idea/
*.cbp
*.depend
*.layout

# ===== OS files =====
Thumbs.db
.DS_Store

# ===== Temporary files =====
*~
*.tmp
